.main-navigation {
	clear: both;
	display: block;
	float: right;
	display: inline-block;
	margin-right: 114px;

	ul {
		display: inline-block;
		list-style: none;
		margin: .8em 0 0 0;
		padding-left: 0;
		float: left;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;
			background-color: color(white);
			display: inline-block;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 100%;
				color: red;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
		
		&:last-child a {
			
		}

		&.menu-item-has-children:after {
			content: "+";
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			border-left: 1px solid color(gray20);
			padding: 1vh 1vw;
			cursor: pointer;
			background-color: color(gray5);
		}
	}
	a {
		display: block;
		text-decoration: none;
		padding: 1em;
		font-size: 1.8em;
		font-weight: 100;
		text-transform: uppercase;
		color: color(black);

		&:hover {

			&:after {
				content: "";
				width: 32px;
				height: 32px;
				background-color: color(primary);
				position: absolute;
				z-index: -1;
				transform: rotate(45deg);
				bottom: -1em;
				left: calc(50% - 16px);
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}